* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
html, body {
    width: 100%;
}

div, span {
    font-size: 10pt;
}

body {
    width: 270px;
}

#content {
    margin: 10px;
}

input[type="checkbox"] {
    margin-right: 4px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#loading {
    text-align: center;
}

#listProduct {
    margin-bottom: 15px;
}

#listProduct input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.product_item {
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.product_item label {
    width: 500px;
}

.b_order {
    padding: 4px 6px;
    cursor: pointer;
}

.b_block {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.msg {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e0e0e0;
}

#msgError {
    color: #d71100;
}

#msgError:before {
    content: "> "
}

.block_confirm {
    font-size: 8pt;
    margin-top: 7px;
    text-align: center;
}

.block_confirm input[type="checkbox"] {
    position: relative;
    top: 3px;
}

#content_option {
    width: 700px;
    margin: 0px auto;
    padding: 30px;
}

#content_option button {
    padding: 4px 6px;
    margin-top: 5px;
}